@font-face {
  font-family: __font_083edc;
  src: url(/fonts/e-Ukraine-Bold.woff2) format("woff2");
  font-display: swap;
  font-weight: 700;
}
@font-face {
  font-family: __font_083edc;
  src: url(/fonts/e-Ukraine-Medium.woff2) format("woff2");
  font-display: swap;
  font-weight: 500;
}
@font-face {
  font-family: __font_083edc;
  src: url(/fonts/e-Ukraine-Regular.woff2) format("woff2");
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: __font_083edc;
  src: url(/fonts/e-Ukraine-Light.woff2) format("woff2");
  font-display: swap;
  font-weight: 300;
}
@font-face {
  font-family: __font_083edc;
  src: url(/fonts/e-Ukraine-Thin.woff2) format("woff2");
  font-display: swap;
  font-weight: 200;
}
@font-face {
  font-family: __font_Fallback_083edc;
  src: local("Arial");
  ascent-override: 79.81%;
  descent-override: 15.53%;
  line-gap-override: 0%;
  size-adjust: 125.78%;
}

html {
  font-family: __font_083edc, __font_Fallback_083edc;
}
