html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.page {
  height: 100%;
}

.page__body {
  margin: 0;
  min-width: var(--min-width);
  min-height: 100%;
  font-size: 16px;
  background-color: var(--color-black);
  color: var(--color-white);
}

img {
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.btn-reset {
  border: none;
  font-family: inherit;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;

  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  padding-left: 96px;
  padding-right: 96px;

  @media (max-width: 1720px) {
    padding-left: 32px;
    padding-right: 32px;
  }

  @media (max-width: 375px) {
    padding-left: 16px;
    padding-right: 16px;
  }

  @media (max-width: 360px) {
    padding-left: 12px;
    padding-right: 12px;
  }
}
