:root {
  // base
  --min-width: 320px;
  --radius: 20px;
  --duration: 0.3s;

  // colors
  --color-white: #fff;
  --color-black: hsl(0,0%,4%);
  --color-primary: #2253b2;
  --color-loader: #121212;

  // z-index
  --header-z-index: 100;
  --menu-z-index: 150;
  --window-z-index: 1000;
}
