:root {
  // base
  --font-family: "e-Ukraine", sans-serif;
  --min-width: 320px;
  --radius: 20px;

  // colors
  --color-white: #fff;
  --color-black: #000;

  // z-index
  --header-z-index: 100;
}
