.section {
  position: relative;
}

.container {
  padding-top: 32px;
  padding-bottom: 80px;
  max-width: 1700px;
  margin: 0 auto;

  @media (max-width: 1199px) {
    padding-top: 50px;
  }

	@media (max-width: 768px) {
		padding-top: 42px;
	}

  @media (max-width: 576px) {
    padding-top: 35px;
    padding-bottom: 50px;
  }
}

.breadcrumbs {
  margin-bottom: 35px;

  @media (max-width: 1199px) {
    margin-bottom: 30px;
    display: none;
  }

  @media (max-width: 576px) {
    margin-bottom: 22px;
  }
}

.content {
  display: grid;
  grid-template-columns: 62% 38%;

  @media (max-width: 1199px) {
    grid-template-columns: 100%;
  }
}

.info {
  width: 100%;
  text-align: center;
}

.mobile {
  @media (min-width: 1199px) {
    display: none;
  }
}

.desktop {
  @media (max-width: 1199px) {
    display: none;
  }
}
