.container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 30px;

	@media (max-width: 576px) {
		margin-bottom: 25px;
	}
}

.desc {
  margin: 0;
  font-size: 15px;
  line-height: 27px;
  font-weight: 300;
  color: rgba(#fff, 0.8);
  text-align: left;
  text-shadow: 0 1px 0 rgb(0 0 0 / 20%);

	@media (max-width: 576px) {
		font-size: 13px;
		line-height: 23px;
		color: var(--color-white);
	}
}

.btn {
  font-size: 15px;
  line-height: 18px;
  margin-top: 7px;
  color: var(--color-white);
  color: rgba(#fff, 0.6);
  transition: color var(--duration);

	@media (max-width: 576px) {
		font-size: 14px;
		line-height: 17px;
	}

  &:hover {
    color: var(--color-white);
  }
}
