.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: var(--popup-z-index);
  overflow-y: auto;
  overflow-x: hidden;
  text-align: center;

  &:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }

  &:after {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    background-color: rgba(#000, 0.7);

    @media (max-width: 576px) {
      background-color: rgba(#000, 0.8);
    }
  }
}

.container {
  position: relative;
  z-index: 2;
  margin: 35px auto;
  display: inline-flex;
  flex-direction: column;
  vertical-align: middle;
  background-color: #000;
}

.close {
  position: absolute;
  top: 17px;
  right: 17px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: 24px;
  height: 24px;
  background-color: rgba(#fff, 0.2);
  transition: background-color var(--duration);

  &:hover {
    background-color: rgba(#fff, 0.25);
  }

  svg {
    display: block;
    width: 9px;
    height: 9px;
    fill: var(--color-white);
  }
}
