.container {
  padding-bottom: 65px;

  @media (max-width: 576px) {
    padding-bottom: 50px;
  }
}

.title {
  margin-bottom: 25px;

  @media (max-width: 576px) {
    margin-bottom: 20px;
  }
}

.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(5, 1fr);

  @media (max-width: 1024px) {
    gap: 15px;
    grid-template-columns: repeat(4, 1fr);
  }

  @media (max-width: 768px) {
    gap: 12px;
    grid-template-columns: repeat(3, 1fr);
  }
}

.btn {
  margin-top: 25px;
}
