.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  padding: 0 15px;
  margin-top: 40px;

  @media (max-width: 576px) {
    margin-top: 30px;
    padding: 0;
    max-width: 90%;
  }
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input {
  width: 100%;
  margin-bottom: 13px;

  @media (max-width: 576px) {
    margin-bottom: 8px;
  }
}

.btn {
  width: 100%;
}
