.section {
  position: relative;
}

.container {
  padding-top: 32px;
  padding-bottom: 50px;
  max-width: 1700px;
  margin: 0 auto;

	@media (max-width: 1200px) {
		padding-top: 27px;
	}

	@media (max-width: 576px) {
		padding-top: 22px;
	}
}

.breadcrumbs {
  margin-bottom: 35px;

	@media (max-width: 1200px) {
		margin-bottom: 30px;
	}

	@media (max-width: 576px) {
		margin-bottom: 25px;
	}
}

.content {
  display: grid;
  grid-template-columns: 62% 38%;

	@media (max-width: 1200px) {
		grid-template-columns: 63% 37%;
	}

	@media (max-width: 1200px) {
		grid-template-columns: 100%;
	}
}
