.section {
  position: relative;

  &:before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none;
    z-index: -1;
    opacity: 0.2;
    background: linear-gradient(180deg, #2253b2 0%, #000 100%);
  }
}

.container {
  padding-top: 32px;
  padding-bottom: 32px;
  max-width: 1700px;
  margin: 0 auto;
}

.breadcrumbs {
  margin-bottom: 35px;
}

.content {
  display: grid;
  grid-template-columns: calc(62% - 60px) 38%;
  column-gap: 60px;
}
