.item {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  outline: none;
  color: var(--color-white);

  @media (min-width: 1025px) {
    transition: transform 0.3s;

    &:hover,
    &:focus-within {
      transform: scale(1.03);

      .content {
        opacity: 1;
        visibility: visible;
        background-color: rgba(#000, 0.85);
      }
    }
  }
}

.imageWrapper {
  position: relative;
  display: block;
  border-radius: 15px;
  padding-top: 150%;
  background-color: var(--color-loader);

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 15px;
    border: 1px solid rgba(#fff, 0.1);
  }
}

.image {
  display: block;
  position: absolute;
  border-radius: 15px;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 23px 20px;
  justify-content: flex-end;
  opacity: 0;
  visibility: hidden;
  border-radius: 15px;
  background-color: rgba(#000, 0.5);
  border: 1px solid rgba(#fff, 0.1);
  transition: opacity var(--duration), visibility var(--duration), background-color var(--duration);

  @media (max-width: 1024px) {
    position: static;
    padding: 0;
    border: none;
    opacity: 1;
    visibility: visible;
    margin-top: 15px;
  }
}

.rating {
  position: absolute;
  top: 23px;
  left: 20px;

  @media (max-width: 1024px) {
    display: none;
  }
}

.name {
  margin: 0;
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;

  @media (max-width: 768px) {
    font-size: 13.2px;
    line-height: 17px;
    margin-bottom: 5px;
  }
}

.top {
  display: flex;
  align-items: center;
}

.year {
  display: block;
  font-size: 14px;
  line-height: 18px;
  color: rgba(#fff, 0.8);
  margin-right: 12px;
}

.length {
  display: block;
  font-size: 14px;
  line-height: 18px;
  color: rgba(#fff, 0.8);

  @media (max-width: 1024px) {
    display: none;
  }
}

.btns {
  display: flex;
  align-items: center;
  margin-top: 15px;
  display: none;

  @media (max-width: 1024px) {
    display: none;
  }
}

.more {
  margin-right: 10px;
}
