.label {
  display: flex;
  flex-direction: column;
}

.input {
  border-radius: 10px;
  font-weight: 500;
  font-size: 13.2px;
  line-height: 15px;
  height: 41px;
  padding: 0 14px;
  background-color: #fff;
  color: var(--color-black);

  @media (max-width: 576px) {
  }

  &::placeholder {
    color: rgba(#000, 0.45);
  }
}
