.item {
  --radius: 12px;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  outline: none;
  color: var(--color-white);

  @media (min-width: 577px) {
    --radius: 16px;
  }

  @media (min-width: 1025px) {
    transition: transform var(--duration);

    &:hover {
      transform: scale(1.03);

      .content {
        opacity: 1;
        visibility: visible;
        background-color: rgba(#000, 0.85);
      }
    }
  }
}

.imageWrapper {
  position: relative;
  display: block;
  border-radius: var(--radius);
  padding-top: 150%;
  background-color: var(--color-loader);

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: var(--radius);
    border: 1px solid rgba(#fff, 0.1);
  }
}

.image {
  display: block;
  position: absolute;
  border-radius: var(--radius);
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 23px 20px;
  justify-content: flex-end;
  opacity: 0;
  visibility: hidden;
  border-radius: var(--radius);
  background-color: rgba(#000, 0.5);
  border: 1px solid rgba(#fff, 0.1);
  transition: opacity var(--duration), visibility var(--duration), background-color var(--duration);

  @media (max-width: 1024px) {
    display: none;
  }
}

.rating {
  position: absolute;
  top: 23px;
  left: 20px;
}

.name {
  margin: 0;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
}

.info {
  display: flex;
  align-items: center;
  margin-top: 12px;
}

.year {
  display: block;
  font-size: 14px;
  line-height: 18px;
  color: rgba(#fff, 0.8);
  margin-right: 12px;
}

.length {
  display: block;
  font-size: 14px;
  line-height: 18px;
  color: rgba(#fff, 0.8);
  white-space: nowrap;
}
