.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  padding: 0 15px;
  margin-top: 25px;

  @media (max-width: 576px) {
    margin-top: 22px;
    padding: 0;
    max-width: 90%;
  }
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input {
  width: 100%;
  margin-bottom: 13px;

  @media (max-width: 576px) {
    margin-bottom: 8px;
  }
}

.btn {
  width: 100%;

  &[disabled] {
    cursor: default;
    // opacity: 0.5;
  }
}

.policy {
  margin-top: 25px;
}

.caption {
  display: block;
  font-weight: 300;
  font-size: 11.5px;
  line-height: 14px;
  color: rgba(#fff, 0.5);
  transition: opacity var(--duration);
  margin-top: 2px;
}

.top {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logo {
  display: block;
  width: 45px;
  height: 45px;
  margin-bottom: 15px;

  &:hover {
    opacity: 0.8;
  }

  @media (max-width: 576px) {
    width: 42px;
    height: 42px;
    margin-bottom: 12px;
  }

  svg {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.sep {
  display: block;
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  color: rgba(#fff, 0.5);
  margin-bottom: 30px;

  @media (max-width: 576px) {
    margin-bottom: 22px;
  }
}
