.message {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  min-width: 430px;
  padding: 17px;
  background-color: #1f1f1f;
  border-radius: 16px 16px 16px 0;

  @media (max-width: 576px) {
    min-width: auto;
    max-width: 450px;
    width: 100%;
  }

  /* transform: translateY(40px);
  opacity: 0;
  transition: transform var(--duration), opacity var(--duration);

  &.done {
    opacity: 1;
    transform: translateY(0px);
  } */
}

.right {
  min-width: 370px;
  align-self: flex-end;
  background-color: #151515;
  border-radius: 16px 16px 0px 16px;

  @media (max-width: 576px) {
    min-width: auto;
    max-width: 80%;
  }

  @media (max-width: 360px) {
    min-width: auto;
  }
}

.messageTitle {
  display: block;
  font-weight: 700;
  font-size: 13.5px;
  line-height: 20px;

  @media (max-width: 360px) {
    font-size: 12.5px;
    line-height: 18px;
  }

  &:not(:last-child) {
    margin-bottom: 4px;
  }
}

.messageDesc {
  margin: 0;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  color: rgba(#fff, 0.5);

  @media (max-width: 360px) {
    font-size: 11px;
    line-height: 15px;
  }
}
