.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: var(--header-z-index);
  backdrop-filter: saturate(180%) blur(7px);
  background-color: rgba(#000, 0.7);
  transition: transform 0.3s;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 86px;
  transition: height 0.3s;
}

.row {
  display: flex;
  align-items: center;
}

.fixed {
  transform: translateY(-100%);
}
