.section {
  overflow: hidden;
}

.container {
  padding-bottom: 30px;
  padding-top: 30px;
}

.title {
  margin-bottom: 20px;
}

.wrapper {
  position: relative;
}

.slider {
  overflow: visible;
}

.slide {
  width: 18%;
  aspect-ratio: 2/3;

  @media (max-width: 1024px) {
    width: 22%;
  }
}

.prevBtn[disabled],
.nextBtn[disabled] {
  opacity: 0;
  visibility: hidden;
}

.prevBtn {
  left: 15px;
}

.nextBtn {
  right: 15px;
}
