.section {
  overflow: hidden;
}

.container {
  padding-bottom: 30px;
  padding-top: 30px;
}

.title {
  margin-bottom: 15px;

  @media (min-width: 1401px) {
    margin-bottom: 18px;
  }

  &:hover {
    .icon svg {
      transform: translateX(-2px);
    }
  }
}

.icon {
  transform: rotate(180deg);
  margin-top: 5px;
  margin-left: 12px;
  opacity: 0.7;

  svg {
    display: block;
    width: 15px;
    height: 15px;
    fill: currentColor;
    transition: transform var(--duration);
  }
}

.wrapper {
  position: relative;
}

.slider {
  overflow: visible;
}

.slide {
  width: 18%;

  @media (max-width: 1024px) {
    width: 22%;
  }
}

.prevBtn[disabled],
.nextBtn[disabled] {
  opacity: 0;
  visibility: hidden;
}

.prevBtn {
  left: 15px;
}

.nextBtn {
  right: 15px;
}
