.message {
  margin-top: 30px;
  transform: translateY(30px);
  opacity: 0;

  &.done {
    opacity: 1;
    transform: translateY(0px);
  }
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
  padding: 0 15px;
  margin-top: 40px;

  @media (max-width: 576px) {
    padding: 0;
    max-width: 90%;
    margin-top: 30px;
  }
}

.input {
  margin-bottom: 13px;
  transform: translateY(20px);
  opacity: 0;
  transition: transform var(--duration), opacity var(--duration);

  &.done {
    transform: translateY(0px);
    opacity: 1;
  }
}

.btn {
  transform: translateY(40px);
  opacity: 0;
  transition: transform var(--duration), opacity var(--duration);

  &.done {
    transform: translateY(0px);
    opacity: 1;
  }
}
