.container {
  display: flex;
  align-items: center;
  transition: transform var(--duration), opacity var(--duration), height var(--duration);
  margin-top: 30px;

  @media (max-width: 576px) {
    margin-top: 25px;
  }

  &.isEditable {
    justify-content: flex-end;
  }

  &.left {
    justify-content: flex-start;

    .message {
      border-radius: 16px 16px 16px 0;
    }
  }

  &.right {
    justify-content: flex-end;

    .message {
      min-width: 370px;
      align-self: flex-end;
      color: #000;
      background-color: #fff;
      border-radius: 16px 16px 0px 16px;

      @media (max-width: 576px) {
        min-width: auto;
        max-width: 80%;
      }

      @media (max-width: 360px) {
        min-width: auto;
      }
    }
  }
}

.edit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  border: 2px solid rgba(#fff, 0.3);
  border-radius: 100%;
  margin-right: 20px;
  transition: border-color var(--duration), background-color var(--duration);

  @media (max-width: 360px) {
    margin-right: 10px;
    width: 35px;
    height: 35px;
  }

  &:hover {
    border-color: transparent;
    background-color: rgba(#fff, 0.3);
  }

  svg {
    display: block;
    width: 18px;
    height: 18px;

    @media (max-width: 360px) {
      width: 15px;
      height: 15px;
    }
  }
}

.message {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  min-width: 430px;
  padding: 17px;
  overflow: hidden;
  background-color: hsl(0, 0, 15%);

  &.isSuccess {
    background: rgba(#008800, 0.8);
  }

  @media (max-width: 576px) {
    min-width: auto;
    max-width: 88%;
    width: 100%;
  }

  @media (max-width: 360px) {
    max-width: 93%;
  }
}

.title {
  display: block;
  font-weight: 700;
  font-size: 13.5px;
  line-height: 20px;
  word-break: break-word;

  @media (max-width: 576px) {
    font-size: 12.5px;
    line-height: 18px;
  }
}

.desc {
  margin: 0;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  color: rgba(#fff, 0.5);
  transition: opacity var(--duration);
  margin-top: 4px;

  @media (max-width: 576px) {
    font-size: 11px;
    line-height: 15px;
  }
}
