.root {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 13px;
  margin-bottom: 10px;

  @media (max-width: 576px) {
    margin-bottom: 18px;
    gap: 10px;
  }
}

.rating {
  @media (max-width: 576px) {
    font-size: 12px;
    line-height: 20px;
  }
}

.item {
  font-weight: 300;
  color: rgba(#fff, 0.6);

  @media (max-width: 576px) {
    font-size: 14px;
    line-height: 14px;
  }
}
