.link {
  position: relative;
  display: inline-block;
  font-weight: 400;
  color: var(--color-white);
  outline: none;
  font-size: 11.5px;

  &:before {
    content: "";
    display: block;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgba(#fff, 0.3);
    transition: height 0.2s;
  }

  &:hover,
  &:focus-within {
    &:before {
      height: calc(100% + 1px);
    }
  }
}
