.title {
  margin: 0;
  color: var(--color-white);
}

.large {
  font-weight: 700;
  font-size: 38px;
  line-height: 42px;
}

.medium {
  font-size: 26px;
  line-height: 32px;
}

.small {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
}
