.title {
  display: inline-flex;
  align-items: center;
  color: var(--color-white);
  font-weight: 700;
}

.large {
  font-size: 41px;
  line-height: 49px;

  @media (max-width: 576px) {
    font-size: 28px;
    line-height: 36px;
  }
}

.medium {
  font-size: 25px;
  line-height: 31px;

  @media (max-width: 576px) {
    font-size: 20px;
    line-height: 24px;
  }

  @media (max-width: 375px) {
    font-size: 18px;
    line-height: 22px;
  }
}

.small {
  font-size: 22px;
  line-height: 26px;

  @media (max-width: 576px) {
    font-size: 17px;
    line-height: 22px;
  }

  @media (max-width: 375px) {
    font-size: 16px;
    line-height: 20px;
  }
}
