.pagination {
  --gap: 15px;
  --pagination-size: 44px;
  display: flex;
  align-items: center;
  gap: var(--gap);
  margin-top: 30px;

  @media (max-width: 768px) {
    --pagination-size: 35px;
    --gap: 10px;
  }
}

.range {
  display: flex;
  align-items: center;
  gap: var(--gap);
  overflow-y: hidden;
  overflow-x: auto;
}

.item {
  display: block;
  padding: 0 12px;
  min-width: var(--pagination-size);
  height: var(--pagination-size);
  color: var(--color-white);
  background-color: var(--color-gray-200);
  border-radius: 5px;
  transition: background-color var(--duration);

  @media (max-width: 768px) {
    min-width: auto;
  }

  &.activeItem {
    background-color: var(--color-primary);
  }

  &:not(.activeItem) {
    &:hover {
      background-color: var(--color-gray-300);
    }
  }
}

.prev,
.next {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: var(--pagination-size);
  height: var(--pagination-size);
  font-size: 20px;
  line-height: 20px;
  border-radius: 5px;
  color: var(--color-white);
  background-color: var(--color-gray-200);
  transition: background-color var(--duration);

  &:hover {
    background-color: var(--color-gray-300);
  }

  svg {
    display: block;
    width: 20px;
    height: 20px;
    fill: currentColor;
  }
}

.next {
  svg {
    transform: rotate(180deg);
  }
}

.dots {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--pagination-size);
  height: var(--pagination-size);
  position: relative;
  color: rgba(#fff, 0.3);
  transition: color var(--duration);

  &.isRightDots {
    svg {
      transform: rotate(180deg);
    }
  }

  &:hover {
    color: transparent;

    svg {
      opacity: 1;
    }
  }

  svg {
    position: absolute;
    z-index: 2;
    width: 25px;
    height: 25px;
    fill: var(--color-primary);
    opacity: 0;
    transition: opacity var(--duration);
  }

  @media (max-width: 768px) {
    display: none;
  }
}
