.section {
  position: relative;
  overflow: hidden;
  margin: 30px 0 20px;
}

.container {
  max-width: 57%;
  margin: 0 auto;
}

.slider {
  width: 100%;
  overflow: visible;
}

.slide {
  width: 100%;
  margin: 0 calc(15px / 2);
}
