.section {
  position: relative;
  overflow: hidden;
  margin: 20px 0;
}

.container {
  max-width: 57%;
  margin: 0 auto;
}

.slider {
  width: 100%;
  overflow: visible;
}

.slide {
  width: 100%;
  margin: 0 calc(var(--column-gap) / 2);
}
