.container {
  padding-top: 40px;
  padding-bottom: 90px;

  @media (max-width: 576px) {
    padding-top: 30px;
    padding-bottom: 70px;
  }
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

.btn {
  display: block;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
	margin-left: 5px;

  @media (min-width: 769px) {
    display: none;
  }

  svg {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(6, 1fr);

  @media (max-width: 1024px) {
    column-gap: 15px;
		row-gap: 25px;
    grid-template-columns: repeat(4, 1fr);
  }

  @media (max-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 576px) {
    row-gap: 20px;
  }
}

.loadMore {
  margin-top: 35px;
}


.scroll {

  &::-webkit-scrollbar {
    width: 4px;
    background-color: var(--background-scrollbar);
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-scrollbar);
    border: 1.2px solid var(--background-scrollbar);
    width: 0;
    border-radius: 10px;
  }
}
