.list {
  display: flex;
  align-items: center;
}

.item {
  position: relative;

  &:not(:first-child) {
    padding-left: calc(8px + 3px);
    margin-left: 8px;

    &:before {
      content: "";
      display: block;
      width: 3px;
      height: 3px;
      position: absolute;
      top: 11px;
      left: 0;
      transform: translateY(-50%);
      border-radius: 100%;
      background-color: rgba(#fff, 0.4);

      @media (max-width: 576px) {
        background-color: rgba(#fff, 0.5);
      }
    }
  }
}

.link {
  font-size: 14.5px;
  line-height: 18px;
  color: rgba(#fff, 0.6);

  &[href] {
    transition: color 0.3s;

    &:hover {
      color: var(--color-white);
    }
  }

  @media (max-width: 576px) {
    font-size: 12.5px;
    line-height: 15px;
  }
}
