.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: #232323;
  transition: background-color var(--duration);

  &:hover {
    background-color: #333;
  }
}
