.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: hsl(0, 0%, 20%);
  transition: background-color var(--duration);

  &:hover {
    background-color: hsl(0, 0%, 23%);
  }

  &:active {
    background-color: hsl(0, 0%, 27%);
  }
}
