.profile {
  display: flex;
  align-items: center;
  opacity: 0.5;
  color: var(--color-white);
  font-size: 14px;
  line-height: 20px;
  transition: opacity var(--duration);

  @media (max-width: 375px) {
    font-size: 13px;
    line-height: 19px;
  }

  &:hover {
    opacity: 1;
  }

  svg {
    display: block;
    width: 24px;
    height: 24px;
    fill: currentColor;
    margin-right: 6px;

    @media (max-width: 576px) {
      width: 22px;
      height: 22px;
    }

    @media (max-width: 375px) {
      width: 20px;
      height: 20px;
    }
  }
}
