.list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 27px;
  padding-right: 35px;
}

.item {
  width: calc(50px + calc(5px * 2));
}

.link {
  display: flex;
  align-items: center;
  flex-direction: column;
  transition: transform var(--duration);

  &:hover {
    transform: translateY(-2px);

    .image {
      box-shadow: 0 0 0 5px rgba(#fff, 0.3);
    }

    .name {
      color: var(--color-white);
    }
  }
}

.image {
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 0 0 5px rgba(#fff, 0.2);
  transition: box-shadow var(--duration);
  background-color: rgba(#fff, 0.1);

  img {
    display: block;
    overflow: hidden;
    border-radius: 12px;
  }
}

.name {
  display: block;
  font-size: 12px;
  line-height: 18px;
  color: rgba(#fff, 0.6);
  text-align: center;
  margin-top: 12px;
  transition: color var(--duration);
}
