.container {
  padding-bottom: 80px;

  @media (max-width: 576px) {
    padding-bottom: 40px;
  }
}

.carousel {
  margin-left: -10px;
  margin-right: -10px;
  padding-top: 3px;

  @media (max-width: 576px) {
    padding-left: calc(18px - 7px);
    padding-right: calc(18px - 7px);
    margin-left: -18px;
    margin-right: -18px;
  }

  @media (max-width: 360px) {
    padding-left: calc(18px - 4px);
    padding-right: calc(18px - 4px);
  }
}

.title {
  margin-bottom: 30px;

  @media (max-width: 576px) {
    margin-bottom: 20px;
  }
}

.slide {
  width: calc(calc(100% / 9) - 15px);

  @media (max-width: 1200px) {
    width: calc(calc(100% / 8) - 12px);
  }

  @media (max-width: 1024px) {
    width: calc(calc(100% / 6) - 12px);
  }

  @media (max-width: 768px) {
    width: calc(calc(100% / 5) - 7px);
  }

  @media (max-width: 576px) {
    width: calc(calc(100% / 3) - 24px);
  }
}
