.root {
  &.done {
    .modal {
      @media (max-width: 576px) {
        transform: translateY(0%);
      }
    }
  }

  @media (max-width: 576px) {
    overflow: hidden;
  }
}

.modal {
  width: 380px;
  border-radius: 20px;
  background-color: hsl(0, 0, 8%);

  @media (max-width: 576px) {
    width: 100%;
    vertical-align: bottom;
    border-radius: 25px 25px 0 0;
    transition: transform var(--duration);
    transform: translateY(100%);
    margin-bottom: 0;
  }
}

.btns {
  overflow: hidden;
  border-radius: 10px;
}

.item {
  margin-bottom: -1px;

  &:last-child {
    .btn {
      &:after {
        display: none;
      }
    }
  }
}

.btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: var(--color-white);
  padding: 14px 17px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 500;
  background-color: hsl(0, 0, 14%);
  transition: background-color 0.1s ease-in-out;

  &:after {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 17px;
    right: 17px;
    height: 1px;
    background-color: #404040;
    transition: opacity 0.1s ease-in-out;
  }

  &:hover {
    background-color: #404040;

    &:after {
      opacity: 0;
    }
  }

  &:active {
    background-color: hsl(0, 0, 20%);
  }

  svg {
    display: block;
    width: 22px;
    height: 22px;
  }
}

.content {
  padding: 0 22px 24px;

  @media (max-width: 576px) {
    padding-left: 18px;
    padding-right: 18px;
  }
}
