.header {
  --height: 57px;
  --progress-height: 2px;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  height: var(--height);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 96px;
  background-color: rgba(#000, 0.95);
  padding-bottom: var(--progress-height);

  @media (max-width: 1720px) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (max-width: 1024px) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (max-width: 576px) {
    padding-left: 18px;
    padding-right: 18px;
  }

  @media (max-width: 375px) {
    padding-left: 14px;
    padding-right: 14px;
  }
}

.text {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: var(--color-white);
}

.email {
  display: block;
  font-size: 11.5px;
  line-height: 14px;
  color: rgba(#fff, 0.6);
  white-space: nowrap;
  margin-top: 3px;
}

.close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  width: 16px;
  height: 16px;
  color: var(--color-white);
  transition: color var(--duration);

  &:hover {
    color: rgba(#fff, 0.7);
  }

  @media (max-width: 576px) {
    width: 14px;
    height: 14px;
    top: 50%;
    right: 18px;
    transform: translateY(-50%);
  }

  svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: currentColor;
  }
}
