.root {
  @media (max-width: 768px) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: var(--filters-z-index);
    background-color: var(--color-black);
    padding: 16.5px 30px 30px;
    opacity: 0;
    visibility: hidden;
    transition: opacity var(--duration), visibility var(--duration);

    &.isOpen {
      opacity: 1;
      visibility: visible;
    }
  }

  @media (max-width: 576px) {
    padding-left: 18px;
    padding-right: 18px;
  }

  @media (max-width: 375px) {
    padding-left: 14px;
    padding-right: 14px;
  }
}

.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;

  @media (max-width: 768px) {
    display: none;
  }
}

.options {
  padding-bottom: 1px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(#fff, 0.1);

  @media (min-width: 769px) {
    display: none;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;

  @media (min-width: 769px) {
    display: none;
  }
}

.container {
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
}

.logo {
  position: relative;
  display: block;
  width: 61px;
  height: 42px;

  @media (max-width: 576px) {
    width: 54px;
    height: 37px;
  }

  @media (max-width: 375px) {
    width: 50px;
    height: 34px;
  }
}

.close {
  width: 18px;
  height: 18px;

  &:hover {
    svg {
      fill: var(--color-white);
    }
  }

  svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: var(--color-white);
    transition: fill var(--duration);
  }
}

.top {
  margin-bottom: 25px;

  @media (min-width: 769px) {
    display: none;
  }
}

.row {
  display: flex;
  align-items: center;
}

.select {
  margin-right: 8px;
}

.btn {
  width: 100%;

  @media (min-width: 769px) {
    display: none;
  }
}
